
@model List<ICP_ABC.Areas.Redemptions.Models.Redemption>
@{

    TempData.Keep();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redemption Details</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style>

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>

</head>
<body class="container-fluid">
    <div class="row">
        @*<div>
                <img src="~/Content/Images/SawEuJI.jpg" style="width:100%;height:100px; top:0px;" class=" navbar-expand-lg" />
            </div>*@
    </div>
    <nav class="navbar row  navbar-expand-md navbar-dark bg-primary sticky-top" style="margin-bottom:10px">
        @*<a class="navbar-brand" href="#">ICP ABC </a>*@
        <p class="navbar-brand" href="#">Redemption Details</p>

    </nav>

    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm  table-bordered " id="normalTbl">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Customer ID
                            </th>
                            <th>
                                NO. of Units
                            </th>
                            <th>
                                App. No.
                            </th>
                            <th>
                                Branch Name
                            </th>
                            <th>
                                Branch ID
                            </th>
                            <th>
                                Fund Name
                            </th>
                            <th>
                                Auth
                            </th>
                            <th>
                                NAV Date
                            </th>
                            <th>
                                NAV
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Customer Account No.
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.EnName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cust_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount_3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.appliction_no)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch.BName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.branch_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fund.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.auth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nav_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cust_acc_no)
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year M.R.Soft</p>
        </footer>
    </div>

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }
</body>
</html>


