@model ICP_ABC.Areas.UsersSecurity.Models.UserSecurity
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

<h2>User Security Setup: (Create)</h2>
@*<form method="post" action="@Url.Action("REgister", "Account")">*@
@using (Html.BeginForm("Create", "UserSecurity", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "margin-top:50px" }))
{
    <div style="margin-bottom:70px;">
        @Html.AntiForgeryToken()

        <p class="text-danger">@Html.ValidationSummary(true)</p>

        <div class="horizontal">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.NumberOfTrials, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfTrials, new { htmlAttributes = new { @class = "form-control form-control-sm", @min = 1, @max = 5 } })
                    @Html.ValidationMessageFor(model => model.NumberOfTrials, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.ExpireInterval, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpireInterval, new { htmlAttributes = new { @class = "form-control form-control-sm", @min = 1 } })
                    @Html.ValidationMessageFor(model => model.ExpireInterval, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Levels, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Levels, htmlAttributes: new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.Levels, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.Label("Vacation Day Transaction :", htmlAttributes: new { @class = "control-label col-md-9 " })
                <div class="form-group row-cols-md-4">
                    <div class="form-group col-md-12">
                        @Html.CheckBoxFor(model => model.ViewTransaction, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        <label class="control-label" style="margin-right:5px">View-Transaction</label>

                        @Html.CheckBoxFor(model => model.CreateTransaction, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                        <label class="control-label">Create-Transaction</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ButtonsControl">
        <div class="text-center" style="padding-top:15px;">
            <div class="btn-group col-md-5" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Apply</button>
                <a href="~/UsersSecurity/UserSecurity/Index" class="btn btn-primary"><i class="fa fa-times-circle"></i> Cancel</a>

            </div>
        </div>
    </div>

        }
        @section scripts{
            @Scripts.Render("~/bundles/jqueryval")
            <script>
                $(function () {
                    //   normal dropdown
                    $(".ddlist").chosen({
                        //  disable_search_threshold: 1
                    });
                });</script>
        }
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
