@model ICP_ABC.Areas.Policies.Models.PolicyDetailsViewModel
@using ICP_ABC.Extentions
@{
                /**/

                ViewBag.Title = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="offset-2 col-10">
        <h2>Policy Setup</h2>
        @using (Html.BeginForm("Create", "Policy", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Form", style = "margin-top:50px" }))
        {
            <div style="margin-top:20px" class="row">

                <div class="col-5">
                    <div class="form-group">
                        <label for="PolicyNo" class="control-label">Policy No</label>
                        @Html.EditorFor(model => model.PolicyNo, new { htmlAttributes = new { @placeholder = "Policy No", @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.PolicyNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="PaymentFrequency" class="control-label">Payment Frequency</label>

                        <select name="PaymentFrequency" disabled value="@Model.PaymentFrequency" class="form-control">
                            <option value="1">Monthly</option>
                            <option value="2">Quarter</option>
                            <option value="3">Annual</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.PaymentFrequency, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Status" disbled value="@Model.Status" class="control-label">Status</label>

                        <select name="Status" disabled value="@Model.Status" class="form-control">
                            <option value="1">Issued</option>

                        </select>
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="BusinessChannel" class="control-label">Business Channel</label>
                        <select name="BusinessChannel" disabled value="@Model.BusinessChannel" class="form-control">
                            <option value="1">Business 1</option>

                        </select>
                        @Html.ValidationMessageFor(model => model.BusinessChannel, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="PolicyHolderName" class="control-label">PolicyHolder Name</label>
                        @Html.EditorFor(model => model.PolicyHolderName, new { htmlAttributes = new { @placeholder = "PolicyHolder Name", @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.PolicyHolderName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="EffectiveDate" class="control-label">Effective Date</label>
                        @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="CalculationBasis" class="control-label">Calculation Basis</label>

                        <select name="CalculationBasis" disabled value="@Model.CalculationBasis" class="form-control">
                            <option value="1">Normal</option>

                        </select>
                        @Html.ValidationMessageFor(model => model.CalculationBasis, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>
            <div class="ButtonsControl">


                <div class="text-center" style="padding-top:15px;">

                    <div class="btn-group col-md-10" role="group" aria-label="Basic example">

                        @if (User.Identity.HasTheRights("Policy", "Create"))
                        {
                            <a href="~/Policies/Policy/Create" class="btn btn-primary AllCondition" id="GetAddButton"><i class="fa fa-plus"></i> Add Policy</a>
                        }
                        @if (User.Identity.HasTheRights("Policy", "Update"))
                        {
                            if (Model.EditBtn)
                            {
                                <a href="~/Policies/Policy/Edit?PolicyNo=@Model.PolicyNo" class="btn btn-primary AllCondition" id="GetEditButton"><i class="fa fa-edit"></i> Edit </a>
                            }
                        }
                        @if (User.Identity.HasTheRights("Policy", "Delete"))
                        {
                            if (Model.DeleteBtn)
                            {
                                <a href="#" data-toggle="modal" data-target="#Delete" class="btn btn-primary AllCondition"><i class="fa fa-remove"></i> Delete </a>
                            }
                        }
                        @if (User.Identity.HasTheRights("Policy", "Check"))
                        {
                            if (Model.CheckBtn)
                            {

                                <a href="~/Policies/Policy/Check?PolicyNo=@Model.PolicyNo" class="btn btn-primary AllCondition" id="GetCheckButton"><i class="fa fa-check"></i> Check </a>
                            }
                        }
                        @if (User.Identity.HasTheRights("Policy", "Authorized"))
                        {
                            if (Model.AuthBtn)
                            {
                                <a href="#" data-toggle="modal" data-target="#Auth" class="btn btn-primary AllCondition"><i class="fa fa-user-secret"></i> Autherize </a>
                            }

                        }
                        @if (User.Identity.HasTheRights("Policy", "Authorized"))
                        {
                            if (Model.UnAuthBtn)
                            {
                                <a href="#" data-toggle="modal" data-target="#UnAuth" class="btn btn-primary AllCondition"><i class="fa fa-user-secret"></i> UnAutherize </a>
                            }
                        }


                        <a href="~/Policies/Policy/Search" class="btn btn-primary"><i class="fa fa-search"></i> Search</a>
                        <a href="~/Policies/Policy/Previous?id=@Model.code" id="Prev" class="btn btn-primary"><i class="fa fa-backward"></i> Previous </a>
                        <a href="~/Policies/Policy/Next?id=@Model.code" id="Next" class="btn btn-primary"><i class="fa fa-forward"></i> Next </a>
                        <a href="~/Home/Home/Index" class="btn btn-primary"><i class="fa fa-home"></i> Back to Home</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Are You Sure You Want to Delete ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="~/Policies/Policy/Delete?PolicyNo=@Model.PolicyNo" class="btn btn-danger ">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Auth" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Autherize</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Are You Sure You Want to Autherize ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="~/Policies/Policy/AuthorizePolicy?PolicyNo=@Model.PolicyNo" class="btn btn-primary">Autherize</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UnAuth" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Autherize</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Are You Sure You Want to UnAutherize ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="~/Policies/Policy/UnAuthorizePolicy?PolicyNo=@Model.PolicyNo" class="btn btn-primary">UnAutherize</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {

            var last=  "@TempData["Last"]" ;

            if (last != null) {
                if ("@TempData["Last"]" == "Last") {

                    document.getElementById("Next").classList.add('disabled');
                }
            }
            /////////////////////////
           var last=  "@TempData["First"]" ;

            if (last != null) {

                if ("@TempData["First"]" == "First") {

                    document.getElementById("Prev").classList.add('disabled');
                }

            }
            /////////////////////
        });

    </script>
}


