@model PagedList.IPagedList<ICP_ABC.Areas.Policies.Models.Policy>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string servername = System.Web.Configuration.WebConfigurationManager.AppSettings["servername_URL"];
    TempData.Keep();
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Policy Setup: (Search)</h2>
<form class="form-inline" id="SearchForm">

    <input type="text" class="form-control form-control-sm" title="Policy No" name="PolicyNo" id="PolicyNo" value="@ViewData["PolicyNo"]" placeholder="PolicyNo">
    <input type="text" title="PolicyHolderName" class="form-control form-control-sm" name="PolicyHolderName" id="PolicyHolderName" value="@ViewData["CodeFrom"]" placeholder="PolicyHolder Name">
    <select name="PaymentFrequency" class="form-control form-control-sm">
        <option>Select PaymentFrequency</option>
        <option value="1">Monthly</option>
        <option value="2">Quarter</option>
        <option value="3">Annual</option>
    </select>
    <select name="Status" class="form-control form-control-sm">
        <option>Select Status</option>
        <option value="1">Issued</option>

    </select>
    <select name="BusinessChannel" class="form-control form-control-sm">
        <option>Select BusinessChannel</option>
        <option value="1">Business 1</option>

    </select>
    <select name="CalculationBasis" class="form-control form-control-sm">
        <option>Select CalculationBasis</option>
        <option value="1">Normal</option>

    </select>
    
    <div class="input-group">
        <div class="input-group-prepend">
            <span style="height:29px" class="input-group-text" id="basic-addon3">Effective Date</span>
        </div>
        <input type="date" class="form-control form-control-sm" title="Effective Date" name="EffectiveDate" id="EffectiveDate" value="@ViewData["EffectiveDate"]" placeholder="Effective Date">

    </div>


    @{
        var chk = ViewData["radioCHeck"] as string;
        var AuthorizeCHK = chk == "1" ? "checked" : "";
        var CheckerCHK = chk == "2" ? "checked" : "";
        var MakerCHK = chk == "3" ? "checked" : "";
        var AllCHK = chk == "4" ? "checked" : "";

    }
    <input id="Authorize"
           name="RadioCHeck"
           type="radio"
           value="1"
           @AuthorizeCHK />Authorize&nbsp;
    @{
        if (ViewBag.SecuLevel == 3)
        {
            <input style="display:inline-block" id="Checker"
                   name="RadioCHeck"
                   type="radio"
                   value="2" @CheckerCHK /><label style="display:inline-block" for="Check">Checker&nbsp;</label>
        }
    }

    <input id="Maker"
           name="RadioCHeck"
           type="radio"
           value="3"
           @MakerCHK />Maker&nbsp;

    <input id="All"
           name="RadioCHeck"
           type="radio"
           value="4"
           @AllCHK />All&nbsp;



    <div class=" mb-2 mr-sm-2" style="padding-left:2px">
        <label style="display:block;"> &nbsp;</label>
        <button type="submit" class="btn btn-sm btn-primary mb-2"><i class="fa fa-search"></i> Search</button>

    </div>

</form>
<p>
    @if (Model.TotalItemCount != 0)
    {
        <a target="_blank" rel="noopener noreferrer" href="~/Blocks/Block/ExportToPDF">Print Result To PDF</a>

        @Html.ActionLink("Print Result To Excel", "ExportToExcel", "Block")
    }


</p>

<div style="margin-bottom:150px;">

    <table class="table">
        <tr style="font-family:initial;color:blue">










            <th style="width:15%">
                PolicyNo
            </th>
            <th style="width:10%">
                PolicyHolderName
            </th>
            <th style="width:10%">
                PaymentFrequency
            </th>


            <th style="width:15%">
                EffectiveDate
            </th>
            <th style="width:10%">
                Status
            </th>
            <th style="width:10%">
                CalculationBasis
            </th>
            <th style="width:10%">
                BusinessChannel
            </th>
            <th style="width:5%">
                Auth
            </th>

            <th style="width:5%">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PolicyHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentFrequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculationBasis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessChannel)
                </td>


                <td>
                    @*@Html.DisplayFor(modelItem => item.auth)*@
                    @{var isAuth = item.Auth ? Convert.ToBoolean(item.Auth) : false;}
                    @Html.CheckBoxFor(modelItem => isAuth, new { @disabled = "disabled" })
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @Html.ActionLink("Details", "Details", new { PolicyNo = item.PolicyNo }, new { @class = " btn btn-outline-primary" })
                        @*@Html.ActionLink("Details", "Details", new { id = item.GroupID }, new { @class = " btn btn-outline-primary" })*@
                    </div>
                </td>
            </tr>
            <div class="modal fade" id=Delete_@item.PolicyNo tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Unlock User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            Are You Sure You Want to Delete @item.PolicyHolderName ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="~/Policies/Policy/Delete?PolicyNo=@item.PolicyNo" class="btn btn-primary ">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </table>







</div>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@


<div class="ButtonsControl">
    @Html.PagedListPager(Model, page => Url.Action("Search",
    new { page,
        RadioCHeck = Request.QueryString["RadioCHeck"] ,
        PolicyNo = Request.QueryString["PolicyNo"],
        PolicyHolderName = Request.QueryString["PolicyHolderName"],
        PaymentFrequency = Request.QueryString["PaymentFrequency"],
        EffectiveDate = Request.QueryString["EffectiveDate"],
        Status = Request.QueryString["Status"],
        CalculationBasis = Request.QueryString["CalculationBasis"],
        BusinessChannel = Request.QueryString["BusinessChannel"]

    }))
    <div class="text-center">
        <div class="col-md-3"></div>
        <div class="btn-group col-md-5" role="group" aria-label="Basic example">
            <a href="~/Policies/Policy/Create" class="btn btn-primary" id="GetAddButton"><i class="fa fa-group"></i> Add Policy</a>

            <a href="~/Home/Home/Index" class="btn btn-primary"><i class="fa fa-home"></i> Back to Home</a>

        </div>


    </div>
</div>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")


        <script>

            $(function () {
             
                $(".ddlist").chosen({

                    disable_search_threshold: 5,

                });
            
            });
        </script>
    }
