@model PagedList.IPagedList<ICP_ABC.Areas.FundTimes.Models.FundTime>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    /**/

    ViewBag.Title = "Fund Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("FundTimeForExc");
}

<h2> Fund Time Setup: (Search)</h2>

<form class="form-inline" id="SearchForm">
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <input type="text" class="form-control form-control-sm" name="Code" value="@ViewData["Code"]" id="Code" placeholder="By Code">
    <input type="text" class="form-control form-control-sm" name="searchString" value="@ViewData["searchString"]" id="searchString" placeholder="By Name">

    @{
        var chk = ViewData["radioCHeck"] as string;
        var AuthorizeCHK = chk == "1" ? "checked" : "";
        var CheckerCHK = chk == "2" ? "checked" : "";
        var MakerCHK = chk == "3" ? "checked" : "";
        var AllCHK = chk == "4" ? "checked" : "";

    }
    <input id="Authorize"
           name="RadioCHeck"
           type="radio"
           value="1"
           @AuthorizeCHK />Authorize&nbsp;
    @{
        if (ViewBag.SecuLevel == 3)
        {
            <input style="display:inline-block" id="Checker"
                   name="RadioCHeck"
                   type="radio"
                   value="2" @CheckerCHK /><label style="display:inline-block" for="Check">Checker&nbsp;</label>
        }
    }

    <input id="Maker"
           name="RadioCHeck"
           type="radio"
           value="3"
           @MakerCHK />Maker&nbsp;

    <input id="All"
           name="RadioCHeck"
           type="radio"
           value="4"
           @AllCHK />All&nbsp;



    <button type="submit" style="margin-left:3px;" class="btn btn-outline-primary mb-2 mr-sm-4"><i class="fa fa-search"></i> Search</button>
</form>

<p>
    @if (Model.TotalItemCount != 0)
    {
        <a target="_blank" rel="noopener noreferrer" href="/FundTimes/FundTime/ExportToPDF">Print Result To PDF</a>

        @Html.ActionLink("Print Result To Excel", "ExportToExcel", "FundTime")
    }


</p>

<div style="width:95%;height:295px;overflow-y:scroll;overflow-x:hidden;border:solid 1px #ddd;margin:3px;padding:5px;">
    <table class="table">
        <tr style="font-family:initial;color:blue">


            <th>
                Fund Name
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fund.Name)
                </td>

                <td>
                    @item.Time
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @Html.ActionLink("Details", "Details", new { Id = item.FundTimeID }, new { @class = " btn btn-outline-primary" })
                        @*@Html.ActionLink("Details", "Details", new { id = item.GroupID }, new { @class = " btn btn-outline-primary" })*@
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.FundTimeID }, new { @class = " btn btn-outline-primary", data_toggle = "modal", data_target = "#Delete_" + item.FundTimeID })*@
                    </div>
                </td>
            </tr>

        }

    </table>
</div>


@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
@Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, RadioCHeck= Request.QueryString["RadioCHeck"], Code= Request.QueryString["CodeString"], searchString = Request.QueryString["searchString"] }))

<div class="text-center">
    <div class="col-lg-3"></div>
    <div class="btn-group col-md-5" role="group" aria-label="Basic example">
        <a href="~/FundTimes/FundTime/Create" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Add New Fund-Time</a>
        <a href="~/FundTimes/FundTime/Index" class="btn btn-outline-primary"><i class="fa fa-backward"></i> Back </a>

    </div>
</div>